<div class= "col-10 offset-1 about">
  <h1>About Pixie</h1>
  <p>
     Pixie was built by <a target="_blank" href="https://github.com/lolom">Lorena</a> Web developing studing looking to learn.
   </p>

   <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'lorena.jpg', class: 'img-fluid' %>
      </div>

      <br />

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Lorena Maldonado</h2>
        <br />
        <p>
          Lorena is a student looking to learn how to code, currently working for an application in Shopify.
        </p>
      </div>
    </div>
    <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />